/* Marquee.css */
/* @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  color: #00B6CE;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  animation: marquee-scroll 35s linear infinite; 
} */

/* @keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
  200% {
    transform: translateX(100%);
  }
} */
.main {
  text-align: start;
}

.mq1 {
  color: #00B6CE;
  text-align: start;
  font-family: 'Caveat Brush', cursive;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  /* padding-bottom: 10px; */
  animation: marquee-scroll 15s linear infinite; 
}
 @keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
  200% {
    transform: translateX(100%);
  }
} 