.my-order-header{
    background-color: #F0F2F2;
}
.btn-overlay{
    border-radius: 15px;
}
.main-cont-order{
    border-radius: 8px;
}
.button-pick{
    background-color: rgba(15, 96, 255, 0.16);
    
}